{% load bootstrap4 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Django</title>
    {% bootstrap_css %}
  </head>
  <body class="bg-light">
    <div class="container mt-4">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Генерация карт</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cards:card_list' %}">Список карт</a>
        </li>
        <form class="form-inline mt-2 mt-md-0 ml-auto" action="{% url 'cards:card_list' %}">
        <input class="form-control mr-sm-2" type="text" placeholder="Поиск по серии и номеру" aria-label="Search" name="search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Поиск</button>
      </form>
      </ul>
    </div>
    <div class="container mt-4">
      <h1>
        {% block header %}
        {% endblock %}
      </h1>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>